@font-face {
    font-family: "TAN-NIMBUS";
    src: url(../../Assets/Fonts/TAN-NIMBUS.ttf);
}

@font-face {
    font-family: "SourceSerifPro";
    src: url(../../Assets/Fonts/SourceSerifPro-Regular.ttf);
}

:root {
    --primary-dark: #8C2034;   /* Vermelho escuro */
    --primary-light: #BF4B60;  /* Vermelho-rosado vibrante */
    --secondary-light: #F2B6C1; /* Rosa claro */
    --accent-color: #8F323C;   /* Vermelho suave */
    --dark-color: #400102;     /* Vermelho muito escuro */
}

body {
    text-align: center;
    
    font-family: "SourceSerifPro";

    background-color: #c4929b;
    color: var(--primary-dark);

    margin: 0;
    padding: 0;
}

main {
    background-color: var(--secondary-light);
    margin: auto;
    max-width: 425px;
    color: var(--primary-dark);
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#logo {
    width: 45%;
    height: auto;
}

div#sabor label{
    text-align: left;
    width: 50%;
}

h1, h2, h3, hr {
    color: var(--primary-dark);
    font-family: "TAN-NIMBUS";
}

#aviso {
    font-size: small;
}

.container, #cookies {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    gap: 5px;
}

.container {
    margin-bottom: 20px;
}

.aligned {
    align-items: start;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* text-align: left; */
}

#cookies .aligned label {
    width: 45%;
}

#cookies .aligned input {
    width: 20%;
}

.container .aligned input {
    width: 200px;
}

#cookies .aligned span {
    width: 30%;
    text-align: end;
}

input, textarea {
    border-color: #8f323b85;
    outline: none;
    width: 250px;
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    border-radius: 10px 2px;
}

input:hover {
    background-color: #c5a1a7;
}

input[type="number"] {
    text-align: center;
    width: 80px;

    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}

textarea {
    resize: none;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

/* Botão */
input[type="submit"] {
    width: 95px;
    height: 35px;
    background-color: var(--primary-dark);
    color: var(--secondary-light);
}

input[type="submit"]:hover {
    background-color: var(--dark-color);
    cursor: pointer;
}
* {
    /* scrollbar-width: thin; */
    scrollbar-color: var(--primary-light) var(--secondary-light);
}
